/* semantic color variables for this project */
:root {
  --color-darkest: #111;
  --color-lightest: #F4EBE6;

  --color--primary: #0500FF;
  --color--primary-light: #433FFF;
  --color--primary-dark: #020057;

  --section-gap: 160px;

  --color-background: var(--color-lightest);
  --color-text: var(--color-darkest);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-darkest);
    --color-text: var(--color-lightest);
      --color--primary: #9896FF;
      --color--primary-light: #BDBCFF;
      --color--primary-dark: #7875FE;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
