@import './base.css';

#app {
  max-width: calc(595px + 4rem);
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color--primary);
  transition: color 0.4s ease-out;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary-light);
  }
}

a:active {
  color: var(--color-primary-dark);
}

a:focus-visible {
  text-decoration: underline;;
}

p + p {
  margin-top: 20px;
}

h1,h2,h3,h4,h5 {
  font-weight: bold;
  margin: 12px 0 5px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.lead {
  font-size: 24px;
}
